.rating {
   position: absolute;
   right: 10px;
   display: inline-block;
}
.icon {
   font-size: 30px;
   color: #e74c3c;
   cursor: pointer;
}

.icon:hover {
   color: #8e44ad;
}

.icon--active {
   color: #8e44ad;
}
