img, iframe {
    max-width: 100%;
}

body {
    font-family: 'Bitter', serif;
}

.color-band {
    margin: 15px 0;
    padding: 15px 0;
}

.color-band.light-grey {
    background: #f1f1f1;
}

.logo {
    width: 30%;
    display: block;
    margin: 20px auto;
}

.header-area {
    text-align: center;
}
.logo-head {
    font-size: 4em;
    font-family: 'Indie Flower', cursive;
}
.logo-sub {
    font-size: 1.4em;
    margin-top: 20px;
}
.card-block {
    margin: 15px 0 25px;
}
.card-image-head {
    background-size: cover;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
}